.mainBody {
  /* background: white; */
  width: 500px;
  height: 500px;

}

.mainGame{
    /* background: red; */
    width: 350px;
    height: 350px;
}

.endScreen{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(55, 49, 141, 0.818);
  border-radius: 20px;
 
}
